nav {
    position: fixed;
    top: 0;
    margin: 0;
    padding: 0;
    left: 0;
    width: 100%;
    background-color: azure;
}
label{
    color:aqua;
}
body{
    background-color:cornflowerblue
}
ul {
    list-style: none;
}

.project-tile {
    display: block;
    padding: 16px;
    background-color: aliceblue;
}

#welcome-section {
    position: relative;
    top: 100px;
    height: 25vh;
    z-index: -1;
}

#projects {
    position: relative;
    top: 5px;
    z-index: -1;
}

@media screen (min-width:480px) {
    #welcome-section {
        top: 20%;
    }
}
